* {
    box-sizing: border-box;
}

h2.logo {
    font-family: 'Anton';
    font-size : 180%;
    margin: 0;
    padding: 0;
}

body,
li,
ul,
nav,
h2,
input,
button {
    font-family: 'Noto Serif KR';
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

.navigator {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 100px;
}

.nav-title {
    text-decoration: none;
    color: Black;
}

.nav-title:hover {
    color: rgb(241, 194, 177);
}

.nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-ul li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 0 15px;
}

.nav-ul li a:hover {
    color: rgb(241, 194, 177);
}

.container {
    margin-top: 95px;
}

