{% extends 'base.html' %}

{% block content %}
<form action="{% url 'update' post.id %}" id="post-form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-container">
        <label class="post-label" for="post-title">글 제목</label>
        <input type="text" id="post-title" name="post_title" value="{{ post.title }}">
    </div>
    <div class="input-container">
        <label class="post-label" for="post-body">글 내용</label>
        <textarea id="post-body" name="post_body" id="" cols="30" rows="10">{{ post.body }}</textarea>
    </div>
    {% comment %} <div class="input-container">
            <input type="file" name="post_image">
    </div> {% endcomment %}
    <div class="input-container">
        <button class="post-submit" form="post-form" type="submit">글 수정하기</button>
    </div>
</form>
{% endblock %}